{"filter":false,"title":".htaccess","tooltip":"/.htaccess","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":76,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":2,"state":"start","mode":"ace/mode/apache_conf"}},"timestamp":1497297164887,"hash":"41ad7afc52f26ce27d6826a23d3d678c460d1ddf"}